<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
	<http auto-config="true">
		<form-login />
		<anonymous />
		<http-basic />
		<logout />
		<remember-me />
		<session-management>
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" session-registry-alias="sessionRegistry" />
		</session-management>

	</http>
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<user-service>
				<user name="rod" password="a564de63c2d0da68cf47586ee05984d7"
					authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<!-- Custom security service configuration. This will be injected to taglib 
	<beans:bean id="securityService" class="SecurityService">
		<beans:property name="sessionRegistry" ref="sessionRegistry" />
	</beans:bean> -->
</beans:beans>